[submodule "submodules/boros"]
	path = submodules/boros
	url = https://github.com/txpipe/boros
	# Change to main after docs are merged
	branch = feat/global-docs
[submodule "submodules/dolos"]
	path = submodules/dolos
	url = https://github.com/txpipe/dolos
	branch = main
[submodule "submodules/balius"]
	path = submodules/balius
	url = https://github.com/txpipe/balius
	branch = feat/global-docs
[submodule "submodules/tx3"]
	path = submodules/tx3
	url = https://github.com/tx3-lang/docs
	branch = main
[submodule "submodules/oura"]
	path = submodules/oura
	url = https://github.com/txpipe/oura
	branch = v3
[submodule "submodules/griffin"]
	path = submodules/griffin
	url = https://github.com/txpipe/griffin
	branch = main
[submodule "submodules/cshell"]
	path = submodules/cshell
	url = https://github.com/txpipe/cshell
	branch = main
