[submodule "submodules/boros"]
	path = submodules/boros
	url = https://github.com/txpipe/boros
	# Change to main after docs are merged
	branch = feat/global-docs
[submodule "submodules/dolos"]
	path = submodules/dolos
	url = https://github.com/txpipe/dolos
	# Change to main after docs are merged
	branch = feat/global-docs
[submodule "submodules/balius"]
	path = submodules/balius
	url = https://github.com/txpipe/balius
	branch = feat/global-docs
[submodule "submodules/tx3"]
	path = submodules/tx3
	url = https://github.com/txpipe/tx3
	branch = main
