---
import config from 'virtual:starlight/user-config';

import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro';

import Search from './Search.astro';
import SiteTitle from './SiteTitle.astro';

/**
 * Render the `Search` component if Pagefind is enabled or the default search component has been overridden.
 */
const shouldRenderSearch = config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
---

<div class="header sl-flex">
  <div class="title-wrapper sl-flex">
    <SiteTitle />
  </div>
  <div class="sl-flex print:hidden search-box">
    {shouldRenderSearch && <Search />}
  </div>
  <div class="sl-hidden md:sl-flex print:hidden right-group">
    <div class="sl-flex social-icons">
      <SocialIcons />
    </div>
  </div>
</div>

<script is:inline>
  // Force dark theme for now.
  if (typeof localStorage !== 'undefined') {
    localStorage.setItem('starlight-theme', 'dark');
  }
  StarlightThemeProvider.updatePickers('dark');
  document.documentElement.dataset.theme = 'dark';
</script>

<style>
  .header {
    gap: var(--sl-nav-gap);
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .title-wrapper {
    /* Prevent long titles overflowing and covering the search and menu buttons on narrow viewports. */
    overflow: clip;
    /* Avoid clipping focus ring around link inside title wrapper. */
    padding: 0.25rem;
    margin: -0.25rem;
    min-width: 0;
  }

  .right-group,
  .social-icons {
    gap: 1rem;
    align-items: center;
    justify-content: end;
  }
  .social-icons::after {
    content: '';
    height: 2rem;
  }

  @media (min-width: 50rem) {
    .header {
      display: grid;
      grid-template-columns:
        /*
          1 (site title): runs up until the main content column’s left
          edge or the width of the title, whichever is the largest
        */
        minmax(320px, auto)
        /* 2 (search box): all free space that is available. */
        1fr
        /* 3 (right items): have same same as site title to force searchbar centered. */
        minmax(320px, auto);
      align-content: center;
    }
  }
</style>
